@import "./styles/variables.css";
@import "./styles/fonts.css";

/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* SemiBold */
}

h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* Regular */
}

p,
li {
  font-family: "OpenSans", serif;
  font-weight: 400; /* Regular */
}

strong,
b {
  font-family: "OpenSans", serif;
  font-weight: 600; /* Semiold */
}

em,
i {
  font-family: "OpenSans", serif;
  font-weight: 400;
  font-style: italic;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
